:root {
    --pink: #ff8881;
    --blue: #c2ddfa;
    --green: #71d1d0;
    --lightGreen: #bef9f8;
    --beige: #f1e5e5;
    --grey: #353434;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--grey)
  }

body {
    background-image: url(../images/background.png);
    background-repeat: repeat;
    width: 100%;
}

main {
    width:100%;
    background-color: var(--lightGreen);
    border-color: var(--grey);
    border-width: 2px;
    border-right-style: solid;
    border-left-style: solid;
    padding:20px;
}

.with {
    font-style: italic;
}

h1{
    font-family: 'Lobster Two', cursive;
    font-size: 90px;
    margin-bottom: 50px;
    text-shadow: -4px 0 var(--beige);
    color: var(--grey);
}

h2 {
    font-family: 'Lobster Two', cursive;
    font-size: 50px;
    text-align: center;
}

h3 {
    font-family: 'Lobster Two', cursive;
    font-size: 30px;
}

h4 {
    margin-top: 10px;
    margin-bottom: 5px;
}

section {
    border-radius: 10px;
    background-color: var(--pink);
    padding: 10px;
    margin: 10px;
}

.introduction {
    display: grid;
    grid-template: 
        [row1-start] "text image" auto [row1-end]
        / 2fr 1fr;
    justify-items: safe center;
} 

#introText {
    grid-area: text;
    margin: 20px;
    /* font-size: 20px; */
    /* text-align: justify; */
}

#intoFigure {
    grid-area: image;
    display: grid;
    place-items: safe center;
    margin: 20px;
    min-width: 350px;
}

figure img  {
    width: 90%;
    border-radius: 10px;
}

figure figcaption {
    margin-top: 10px;
    width: 90%;
    font-size: 14px;
}

header nav ul {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /*grid of 3 column of the same size*/
    list-style: none; /*gets rid of bullet points*/
    text-align: center;
}

header nav ul li {
    font-family: 'Lobster Two', cursive;
    font-size: 24px; /*make it more readable*/
    color: var(--grey);
    background-color:var(--green);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-color: var(--grey);
    border-width: 2px;
    border-bottom-width: 3px;
    border-style: solid;
}

header nav ul li:hover{
    background-color: var(--lightGreen);
}

nav ul .thisPage{
    background-color: var(--lightGreen);
    border-width: 3px;
    border-style: solid;
    border-bottom-style: none;
}

.pageContent {
    display: grid;
    justify-content: center;
    margin: 10px;
    text-align: center;
}

.pageContent ul {
    list-style: none; /*gets rid of bullet points*/
}

.experience {
    display: grid;
    grid-template: 
    [row1-start] "title date" auto [row1-end]
    [row2-start] "info info" auto [row2-end]
    / 2fr 1fr;
}

.experienceTitle {
    grid-area: title;
}

.experienceDate {
    grid-area: date;
    justify-self: end;
}

.experienceInfo {
    grid-area: info;
}

#skills ul li {
    margin-left: 60px;
}

section ul li {
    margin-left: 20px;
}

section ul ul li {
    margin-left: 100px;
}

footer {
    background-color: #71d1d0;
    text-align: center;
    padding-bottom: 20px;
}

.icon {
    height: 20px;
    margin-right: 5px;
}

.contact_details {
    display: flex;
    justify-content: center;
    margin: 10px;
}

@media only screen and (max-width: 768px)  {
    /* I wanted to make like a nav bar on the side when screen is small but maybe too complicated rn */
    /* main {
        border-style: none;
    } */ 

    h1 {
        font-size: 60px;
    }

    .introduction {
        grid-template: 
        [row1-start] "text" auto [row1-end]
        [row2-start] "image" auto [row2-end]
        / 1fr;
        margin:5px;
    }

    #intoFigure {
        min-width: auto;
    }

    figure img  {
        width: 98%;
    }
    
    figure figcaption {
        width: 98%;
    }
}